:root {
  --primary-color: #29a598;
  --text-color: #394c4a;
  --background-light: #18db18;
  --header-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', Helvetica, sans-serif;
  color: #394c4a;
  line-height: 1.5;
  overflow-x: hidden;
}
.header-content{
  background-color: #ccc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(''); /* Replace with your image file */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    margin: 0; /* Remove default margin */
}
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #360cb4;
    color: #333;
}

header {
    background-color: #5210b5;
    color:black;
    padding:  0.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: left;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(64, 17, 220);
    text-decoration: none;
    font-weight: bold;

}

.section {
    padding: 50px 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.project-card {
    background: #0fa550;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    size: 100%;
    size-adjust: 100%;
}

footer p {
    margin: 0;
    font-weight: bold;
}
.profile-pic img {
    border-radius: 2%;
    border-color: #000;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}
.bottom-bottom {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.social-links-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links-container i {
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}
.social-links-container i:hover {
    transform: scale(1.2);
    color: #007bff; 
}
.social-links {
    display: flex;
    gap: 20px;
}
.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 20PX;
    transition: color 0.3s ease, transform 0.3s ease;
}
.social-links a:hover i {
    color: #007bff;
    transform: scale(1.2);
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  margin-bottom: 20px; 
}

.card-header {
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

.card-header h4 {
  margin-top: 0; 
}

.card-header .pull-left {
  float: left;
}

.card-header .line {
  display: block; 
  width: 100%;
  height: 2px;
  background-color: #ccc; 
  margin-top: 10px;
}

.card-body {
  padding: 20px; 
  width: 100%;
  aspect-ratio: 9/2;
  object-fit: contain;
}

.card-body h6 {
  margin-top: 0; 
}

.progress {
  height: 10px; 
  border-radius: 10px;
  overflow: hidden; 
  background-color: #f7f7f7; 
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease; 
}

.progress-bar.bg-danger {
  background-color: #dc3545; 
}
.mysection {
  background-image: url('TEM.png');
}

.skills-languages-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background-color: #f9f9f9;
}
.languages-section {
  flex: 1;
  background-color: #333;
}

.languages-section h2 {
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 20px;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.languages-section h6 {
  font-size: 16px;
  color:whitesmoke;
  margin-bottom: 10px;
}

.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 10px;
  width: 100%;
}

.progress-bar {
  background-color: #ff4c4c;
  height: 100%;
  border-radius: 10px;
}
.education-section {
  flex: 1;
  margin-right: 30px;
  border: 4px solid #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.education-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  background-image: linear-gradient(43deg, #8d10c2 0%, #0cc74a 46%,black 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.education-details h3 {
  font-size: 20px;
  color: #444;
  margin-top: 20px;
}

.education-details p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
.experience-section {
  flex: 1;
}

.experience-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  linear-gradient:(43deg, #8d10c2 0%, #0cc74a 46%,black 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.experience-list {
  list-style-type: none;
  padding-left: 0;
}

.experience-list li {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}
.btn-15{
font-style: unset;
}
.fas.fa-phone {
  color: black; 
}
.fas.fa-user {
  color: black;
}
.fas.fa-home{
  color:black;
}
.fas.fa-briefcase{
  color: black;
}
.onclick{
text-align: center;
font-style: normal;
color: #ac1111;
}
.btn-60,
.btn-60 *,
.btn-60 :after,
.btn-60 :before,
.btn-60:after,
.btn-60:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-60 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  color: transparent;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  background-image: linear-gradient(43deg, #cebe12 0%, #c850c0 46%, #03b87f 100%);
  -webkit-background-clip: text;
  color: transparent;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  background-image: linear-gradient(43deg, #8d10c2 0%, #0cc74a 46%,black 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.section {
  padding: 40px 20px;
  position: relative;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4.8rem 0;
  padding: 0 5rem;
}

.my-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.my-row .my-col {
  text-align: center;
  width: 30%;
}

.my-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C);
  padding: 1rem;
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #363D73;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  font-size: 30px;
  color: #fff;
}
.SKILL-CONTAIN{
  margin: 4.8rem 0;
  padding: 0 5rem;
}

.port-card {
  padding: 0 !important;
  border: 4px solid #000;
  background-color: #007bff;
}

.port-card .image {
  width: 50%;
  height: 50%;
  background-color: #007bff;
}

.port-card .image img {
  height: 100px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.experience-list{
  border: 4PX SOLID #d01010;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


